<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
  <head>
    <title>Lk Hair Creations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'services', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'gallery', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/33272842b8.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>

  </head>

  <body>

  <header>

    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <a href="#home" class="logo">LK Hair Creations</a>
      <ul>
        <li><%= link_to 'Home', home_index_path %></li>
        <li><%= link_to 'Services', services_index_path %></li>
        <li><a href="#">Gallery</a></li>
        <li id="booking"><a target="_top" style=" background-color: #f6d1be; color: #222; height: auto; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'Montserrat', 'Montserrat neue', Montserrat, arial, sans-serif; margin: 0 30px; border-radius: 100px; font-weight: 400; font-size: 25px;" href="https://squareup.com/appointments/book/fanfu0tqfnkcov/CRDJFVEYFV1TY/start">Book Appointment</a></li>
      </ul>
    </nav>
  
  </header>

    <%= yield %>
  </body>
</html>
