<!DOCTYPE html>
<html>
  <head>
    <title>Lk Hair Creations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>

    <nav>
      <h1>LK Hair Creations</h1>
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#"><li>Services</li></a>
          <a href="#"><li>Gallery</li></a>
          <a href="#"><li>Contact us</li></a>
        </ul>
      <%= button_to "BOOK AN APPOINTMENT", "#" %>
    </nav>
  
  </header>

    <%= yield %>
  </body>
</html>
