<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
  <head>
    <title>Lk Hair Creations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/33272842b8.js" crossorigin="anonymous"></script>

  </head>

  <body>

  <header>

    <div class="topnav">
      <a href="#home" class="logo">LK Hair Creations</a>
      <div class="nav-btn"><i class="fas fa-bars"></i></div>
      <div class="navlinks">
        <ul class="myLinks" id="myLinks">
          <li><a href="#Home">Home</a></li>
          <li><a href="#Services">Services</a></li>
          <li><a href="#Gallery">Gallery</a></li>
          <li><a href="#Contact us">Contact us</a></li>
          <li><a href="#Book">Book Appointment</a></li>
        </ul>
        <div class="nav-btn"><i class="fas fa-bars"></i></div>
      </div>
    </div>
  
  </header>

    <%= yield %>
  </body>
</html>
